CREATE DATABASE [RiegoAutonomoInstalador]
USE [RiegoAutonomoInstalador]
GO
/****** Object:  UserDefinedTableType [dbo].[ItemIdiomaNuevoDisplayType]    Script Date: 27/10/2024 23:56:04 ******/
CREATE TYPE [dbo].[ItemIdiomaNuevoDisplayType] AS TABLE(
	[Id] [int] NULL,
	[Traduccion] [nvarchar](max) NULL
)
GO
/****** Object:  UserDefinedFunction [dbo].[CalcularDigitoVerificador]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalcularDigitoVerificador]
(
    @id INT,
    @idUsuario INT,
    @fecha DATETIME,
    @mensaje NVARCHAR(400)
)
RETURNS CHAR(1)
AS
BEGIN
    DECLARE @checksum CHAR(1)

    -- Puedes usar HASHBYTES para generar un hash basado en los datos
    SET @checksum = CONVERT(CHAR(1), 
                      (ABS(CHECKSUM(@id, @idUsuario, @fecha, @mensaje)) % 10))

    RETURN @checksum
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcularDigitoVerificadorVertical]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcularDigitoVerificadorVertical]()
RETURNS NVARCHAR(32)
AS
BEGIN
    DECLARE @hash NVARCHAR(32);

    SELECT @hash = HASHBYTES('MD5', (
        SELECT
            CAST(id AS NVARCHAR(50)) + CAST(idUsuario AS NVARCHAR(50)) + CAST(fecha AS NVARCHAR(50)) + CAST(mensaje AS NVARCHAR(400))
        FROM Bitacora
        FOR XML PATH('')
    ));

    RETURN CONVERT(NVARCHAR(32), @hash, 2);
END
GO
/****** Object:  Table [dbo].[Bitacora]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bitacora](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NOT NULL,
	[fecha] [datetime] NOT NULL,
	[mensaje] [nvarchar](400) NOT NULL,
	[digitoVerificador] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BitacoraCambios]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BitacoraCambios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUsuario] [int] NULL,
	[Mensaje] [nvarchar](255) NULL,
	[Fecha] [datetime] NULL,
	[FechaCambio] [datetime] NULL,
	[Version] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[id] [int] NOT NULL,
	[nombre] [nvarchar](50) NULL,
	[apellido] [nvarchar](50) NULL,
	[mail] [nvarchar](100) NULL,
	[telefono] [int] NULL,
	[dni] [int] NULL,
	[idUsuario] [int] NULL,
 CONSTRAINT [PK_Cliente] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Content]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Content](
	[id] [int] NOT NULL,
	[ContentId] [nvarchar](100) NULL,
 CONSTRAINT [PK_Content] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cultivo]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cultivo](
	[id] [int] NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[tipo] [nvarchar](100) NULL,
 CONSTRAINT [PK_Cultivo] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cultivo_Formulario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cultivo_Formulario](
	[idCultivo] [int] NOT NULL,
	[idFormulario] [int] NOT NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_Cultivo_Formulario] PRIMARY KEY CLUSTERED 
(
	[idCultivo] ASC,
	[idFormulario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DigitoVerificadorVertical]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DigitoVerificadorVertical](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tabla] [nvarchar](50) NULL,
	[digitoVerificador] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DispositivoAgua]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispositivoAgua](
	[id] [int] NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[nombre] [nvarchar](50) NULL,
	[precio] [float] NULL,
	[stock] [int] NOT NULL,
 CONSTRAINT [PK_DispositivoAgua] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DispositivoAgua_Formulario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DispositivoAgua_Formulario](
	[idDispositivoAgua] [int] NOT NULL,
	[idFormulario] [int] NOT NULL,
	[cantidad] [int] NULL,
 CONSTRAINT [PK_DispositivoAgua_Formulario] PRIMARY KEY CLUSTERED 
(
	[idDispositivoAgua] ASC,
	[idFormulario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Equipo]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipo](
	[id] [int] NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fecha_Instalacion]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fecha_Instalacion](
	[id_Instalacion] [int] NOT NULL,
	[id_Formulario] [int] NULL,
	[fecha] [datetime] NULL,
	[descripcion] [nvarchar](max) NOT NULL,
	[estado] [nvarchar](50) NULL,
 CONSTRAINT [PK_FechaInstalacion] PRIMARY KEY CLUSTERED 
(
	[id_Instalacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Formulario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Formulario](
	[id] [int] NOT NULL,
	[descripcionAgua] [nvarchar](max) NULL,
	[descripcionZona] [nvarchar](max) NULL,
	[disponibilidadAgua] [bit] NULL,
	[direccion] [nvarchar](max) NULL,
	[distanciaCubrir] [nvarchar](max) NULL,
	[estadoFabricacion] [nvarchar](100) NULL,
	[estadoPago] [nvarchar](100) NULL,
	[viabilidad] [bit] NULL,
	[idCliente] [int] NULL,
	[descripcionViabilidad] [nvarchar](max) NULL,
	[viabilidadEquipo] [bit] NULL,
	[descripcionViabilidadEquipo] [nvarchar](max) NULL,
	[estadoInstalacion] [nvarchar](100) NULL,
 CONSTRAINT [PK_Formulario] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Languages]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Languages](
	[LanguageId] [int] NOT NULL,
	[LanguageCode] [nvarchar](10) NOT NULL,
	[LanguageName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Materiales]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Materiales](
	[id] [int] NOT NULL,
	[comentario] [nvarchar](max) NULL,
	[cantEquipos] [int] NULL,
	[conductoAgua] [nvarchar](50) NULL,
	[precioConducto] [float] NULL,
	[precioEquipo] [float] NULL,
	[idFormulario] [int] NOT NULL,
 CONSTRAINT [PK_Materiales] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido_DispositivoAgua]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido_DispositivoAgua](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPedidoCompra] [int] NOT NULL,
	[idDispositivoAgua] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido_Equipo]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido_Equipo](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPedidoCompra] [int] NOT NULL,
	[idEquipo] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido_Sensor]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido_Sensor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idPedidoCompra] [int] NOT NULL,
	[idSensor] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoCompra]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoCompra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[precio] [float] NOT NULL,
	[estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PedidoCreacion]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PedidoCreacion](
	[id] [int] NOT NULL,
	[idFormulario] [int] NULL,
	[contraseña] [nvarchar](max) NULL,
	[usuario] [nvarchar](max) NULL,
	[estado] [nvarchar](100) NULL,
 CONSTRAINT [PK_PedidoCreacion] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso](
	[nombre] [varchar](100) NULL,
	[id] [int] NOT NULL,
	[permiso] [varchar](50) NULL,
 CONSTRAINT [PK_permiso] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[permiso_permiso]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[permiso_permiso](
	[id_permiso_padre] [int] NULL,
	[id_permiso_hijo] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sensor]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sensor](
	[id] [int] NOT NULL,
	[descripcion] [nvarchar](max) NULL,
	[nombre] [nvarchar](max) NULL,
	[precio] [float] NULL,
	[stock] [int] NOT NULL,
 CONSTRAINT [PK_Sensor] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sensor_Formulario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sensor_Formulario](
	[idSensor] [int] NOT NULL,
	[idFormulario] [int] NOT NULL,
	[cantidad] [nchar](10) NULL,
 CONSTRAINT [PK_Sensor_Formulario] PRIMARY KEY CLUSTERED 
(
	[idSensor] ASC,
	[idFormulario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tarea]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tarea](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[idUsuario] [int] NULL,
	[idAdministrador] [int] NULL,
	[tema] [nvarchar](100) NULL,
	[descripcion] [nvarchar](255) NULL,
	[estado] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[nombre] [varchar](50) NOT NULL,
	[contrasena] [nvarchar](255) NULL,
	[id_usuario] [int] NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Auditoria]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Auditoria](
	[id_auditoria] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[nombre] [varchar](50) NULL,
	[contrasena] [nvarchar](255) NULL,
	[tipo_operacion] [varchar](10) NULL,
	[fecha_cambio] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_auditoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Mensaje]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Mensaje](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_usuario] [int] NULL,
	[id_componente] [int] NULL,
	[tipo_componente] [varchar](50) NULL,
	[mensaje] [nvarchar](255) NULL,
	[fecha] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios_permisos]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios_permisos](
	[id_usuario] [int] NOT NULL,
	[id_permiso] [int] NOT NULL,
 CONSTRAINT [PK_usuario_permisos] PRIMARY KEY CLUSTERED 
(
	[id_usuario] ASC,
	[id_permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VersionContent]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VersionContent](
	[ContentId] [int] NOT NULL,
	[LanguageId] [int] NOT NULL,
	[Content] [nvarchar](max) NULL,
 CONSTRAINT [PK_VersionContent] PRIMARY KEY CLUSTERED 
(
	[ContentId] ASC,
	[LanguageId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bitacora] ON 

INSERT [dbo].[Bitacora] ([id], [idUsuario], [fecha], [mensaje], [digitoVerificador]) VALUES (6, 2, CAST(N'2024-09-30T10:17:17.000' AS DateTime), N'Ingreso a la pantalla admin', N'4')
INSERT [dbo].[Bitacora] ([id], [idUsuario], [fecha], [mensaje], [digitoVerificador]) VALUES (7, 1, CAST(N'2024-09-30T10:17:52.000' AS DateTime), N'Ingreso de usuario', N'2')
INSERT [dbo].[Bitacora] ([id], [idUsuario], [fecha], [mensaje], [digitoVerificador]) VALUES (8, 1, CAST(N'2024-09-30T10:17:52.000' AS DateTime), N'Ingreso a la pantalla admin', N'2')
GO
SET IDENTITY_INSERT [dbo].[Bitacora] OFF
GO
SET IDENTITY_INSERT [dbo].[BitacoraCambios] ON 

INSERT [dbo].[BitacoraCambios] ([Id], [IdUsuario], [Mensaje], [Fecha], [FechaCambio], [Version]) VALUES (1, 1, N'cambio', CAST(N'2024-09-30T14:02:41.750' AS DateTime), CAST(N'2024-09-30T14:02:41.753' AS DateTime), 1)
INSERT [dbo].[BitacoraCambios] ([Id], [IdUsuario], [Mensaje], [Fecha], [FechaCambio], [Version]) VALUES (2, 2, N'cambio 2', CAST(N'2024-09-30T14:03:51.783' AS DateTime), CAST(N'2024-09-30T14:03:51.787' AS DateTime), 2)
SET IDENTITY_INSERT [dbo].[BitacoraCambios] OFF
GO
INSERT [dbo].[Cliente] ([id], [nombre], [apellido], [mail], [telefono], [dni], [idUsuario]) VALUES (1, N'lucas', N'fraguaga', N'lucasfraguaga@live.com', 1162045499, 41130624, 9)
INSERT [dbo].[Cliente] ([id], [nombre], [apellido], [mail], [telefono], [dni], [idUsuario]) VALUES (2, N'prueba', N'', N'', 0, 0, NULL)
INSERT [dbo].[Cliente] ([id], [nombre], [apellido], [mail], [telefono], [dni], [idUsuario]) VALUES (3, N'pablo', N'roldan', N'pablo@pablo', 1111111, 11111111, 10)
GO
INSERT [dbo].[Content] ([id], [ContentId]) VALUES (1, N'ABM Roles')
INSERT [dbo].[Content] ([id], [ContentId]) VALUES (115, N'Aceptado')
INSERT [dbo].[Content] ([id], [ContentId]) VALUES (2, N'Aceptar fecha')
GO
INSERT [dbo].[Cultivo] ([id], [descripcion], [tipo]) VALUES (1, N'Tiene hojas fuertemente aromáticas con bordes dentados. Florece con abundancia y sus flores pequeñas y amarillas producen frutos muy coloreados —de tonos que van del amarillento al rojo—, debido a la presencia de pigmentos como el licopeno y los carotenos.', N'tomate')
INSERT [dbo].[Cultivo] ([id], [descripcion], [tipo]) VALUES (2, N'árbol siempreverde de hasta 15 metros de altura, de tronco recto, corto y corteza rugosa. Hojas grandes, verdes, simples, alternas, de 6 - 30 cm de largo, que forman un ramaje denso y muy abundante. Flores pequeñas, arracimadas, fragantes, blanco-verdosas, 1 - 3 cm de ancho.', N'palta')
INSERT [dbo].[Cultivo] ([id], [descripcion], [tipo]) VALUES (3, N'crece abajo de la tierra', N'papa')
GO
INSERT [dbo].[Cultivo_Formulario] ([idCultivo], [idFormulario], [cantidad]) VALUES (1, 1, 4)
INSERT [dbo].[Cultivo_Formulario] ([idCultivo], [idFormulario], [cantidad]) VALUES (1, 2, 2)
INSERT [dbo].[Cultivo_Formulario] ([idCultivo], [idFormulario], [cantidad]) VALUES (1, 3, 12)
GO
SET IDENTITY_INSERT [dbo].[DigitoVerificadorVertical] ON 

INSERT [dbo].[DigitoVerificadorVertical] ([id], [tabla], [digitoVerificador]) VALUES (1, N'Bitacora', N'鄑⴯똦ꀧꅛⷈꌢ')
SET IDENTITY_INSERT [dbo].[DigitoVerificadorVertical] OFF
GO
INSERT [dbo].[DispositivoAgua] ([id], [descripcion], [nombre], [precio], [stock]) VALUES (1, N'motor para agua en deposito', N'deposito', 5, 10)
INSERT [dbo].[DispositivoAgua] ([id], [descripcion], [nombre], [precio], [stock]) VALUES (2, N'manejador de canillas', N'canilla', 10, 10)
INSERT [dbo].[DispositivoAgua] ([id], [descripcion], [nombre], [precio], [stock]) VALUES (3, N'mangera 1M', N'mangera', 1, 100)
GO
INSERT [dbo].[DispositivoAgua_Formulario] ([idDispositivoAgua], [idFormulario], [cantidad]) VALUES (1, 3, 2)
GO
INSERT [dbo].[Equipo] ([id], [descripcion], [stock]) VALUES (1, N'equipo basico', 10)
GO
INSERT [dbo].[Fecha_Instalacion] ([id_Instalacion], [id_Formulario], [fecha], [descripcion], [estado]) VALUES (1, 1, CAST(N'2024-07-28T00:00:00.000' AS DateTime), N'', N'finalizado')
INSERT [dbo].[Fecha_Instalacion] ([id_Instalacion], [id_Formulario], [fecha], [descripcion], [estado]) VALUES (2, 2, CAST(N'2024-07-28T00:00:00.000' AS DateTime), N'', N'aceptado')
INSERT [dbo].[Fecha_Instalacion] ([id_Instalacion], [id_Formulario], [fecha], [descripcion], [estado]) VALUES (3, 3, CAST(N'2024-09-24T00:00:00.000' AS DateTime), N'el cliente quiere esa fecha', N'finalizado')
GO
INSERT [dbo].[Formulario] ([id], [descripcionAgua], [descripcionZona], [disponibilidadAgua], [direccion], [distanciaCubrir], [estadoFabricacion], [estadoPago], [viabilidad], [idCliente], [descripcionViabilidad], [viabilidadEquipo], [descripcionViabilidadEquipo], [estadoInstalacion]) VALUES (1, N'llega la lluvia, hay que poner un tacho con agua', N'es un balcon', 1, N'asd', N'1 metro por 8 metros', N'terminado', N'pago total', 1, 1, N'es viabl', 1, N'es viable hacer el trabajo', NULL)
INSERT [dbo].[Formulario] ([id], [descripcionAgua], [descripcionZona], [disponibilidadAgua], [direccion], [distanciaCubrir], [estadoFabricacion], [estadoPago], [viabilidad], [idCliente], [descripcionViabilidad], [viabilidadEquipo], [descripcionViabilidadEquipo], [estadoInstalacion]) VALUES (2, N'fdghdfghdf', N'dfghdfghdfg', 1, N'dfghdfghdf', N'hdfghdfghdfgh', N'en fabricacion', NULL, 1, 2, N'dfghdfghdfgh', 0, N'no es viable', NULL)
INSERT [dbo].[Formulario] ([id], [descripcionAgua], [descripcionZona], [disponibilidadAgua], [direccion], [distanciaCubrir], [estadoFabricacion], [estadoPago], [viabilidad], [idCliente], [descripcionViabilidad], [viabilidadEquipo], [descripcionViabilidadEquipo], [estadoInstalacion]) VALUES (3, N'llega lluvia, hay que poner un tacho', N'balcon', 1, N'asd', N'1 metro por 8 metros', N'terminado', N'pago total', 1, 3, N'es viable', 1, N'yo digo que va a funcionar', NULL)
GO
INSERT [dbo].[Languages] ([LanguageId], [LanguageCode], [LanguageName]) VALUES (1, N'ES', N'ESPAÑOL')
INSERT [dbo].[Languages] ([LanguageId], [LanguageCode], [LanguageName]) VALUES (2, N'EN', N'INGLES')
GO
INSERT [dbo].[Materiales] ([id], [comentario], [cantEquipos], [conductoAgua], [precioConducto], [precioEquipo], [idFormulario]) VALUES (1, N'va a funcionar', 2, N'mangera 4 metros', 8, 30, 1)
INSERT [dbo].[Materiales] ([id], [comentario], [cantEquipos], [conductoAgua], [precioConducto], [precioEquipo], [idFormulario]) VALUES (2, N'tercer intento', 4, N'manguera', 8, 20, 3)
GO
SET IDENTITY_INSERT [dbo].[Pedido_DispositivoAgua] ON 

INSERT [dbo].[Pedido_DispositivoAgua] ([id], [idPedidoCompra], [idDispositivoAgua], [cantidad], [precio]) VALUES (1, 3, 2, 3, 10)
SET IDENTITY_INSERT [dbo].[Pedido_DispositivoAgua] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedido_Equipo] ON 

INSERT [dbo].[Pedido_Equipo] ([id], [idPedidoCompra], [idEquipo], [cantidad], [precio]) VALUES (1, 3, 1, 1, 100)
SET IDENTITY_INSERT [dbo].[Pedido_Equipo] OFF
GO
SET IDENTITY_INSERT [dbo].[Pedido_Sensor] ON 

INSERT [dbo].[Pedido_Sensor] ([id], [idPedidoCompra], [idSensor], [cantidad], [precio]) VALUES (1, 3, 2, 2, 20)
SET IDENTITY_INSERT [dbo].[Pedido_Sensor] OFF
GO
SET IDENTITY_INSERT [dbo].[PedidoCompra] ON 

INSERT [dbo].[PedidoCompra] ([id], [precio], [estado]) VALUES (3, 130, N'finalizado')
SET IDENTITY_INSERT [dbo].[PedidoCompra] OFF
GO
INSERT [dbo].[PedidoCreacion] ([id], [idFormulario], [contraseña], [usuario], [estado]) VALUES (1, 1, N'1234', N'usuario1', N'pedido')
INSERT [dbo].[PedidoCreacion] ([id], [idFormulario], [contraseña], [usuario], [estado]) VALUES (2, 3, N'1234', N'usuario2', N'pedido')
GO
INSERT [dbo].[permiso] ([nombre], [id], [permiso]) VALUES (N'administrador', 1, N'PuedeHacerTodo')
INSERT [dbo].[permiso] ([nombre], [id], [permiso]) VALUES (N'admin', 2, NULL)
INSERT [dbo].[permiso] ([nombre], [id], [permiso]) VALUES (N'vendedor', 3, N'PuedeVender')
GO
INSERT [dbo].[permiso_permiso] ([id_permiso_padre], [id_permiso_hijo]) VALUES (2, 1)
INSERT [dbo].[permiso_permiso] ([id_permiso_padre], [id_permiso_hijo]) VALUES (2, 4)
INSERT [dbo].[permiso_permiso] ([id_permiso_padre], [id_permiso_hijo]) VALUES (2, 5)
GO
INSERT [dbo].[Sensor] ([id], [descripcion], [nombre], [precio], [stock]) VALUES (1, N'sensor de humerdad tierra', N'humeda', 15, 10)
INSERT [dbo].[Sensor] ([id], [descripcion], [nombre], [precio], [stock]) VALUES (2, N'sensor de ph tierra', N'ph tierra', 20, 10)
INSERT [dbo].[Sensor] ([id], [descripcion], [nombre], [precio], [stock]) VALUES (3, N'sensor de lluvia', N'lluvia', 10, 10)
GO
INSERT [dbo].[Sensor_Formulario] ([idSensor], [idFormulario], [cantidad]) VALUES (1, 1, N'1         ')
INSERT [dbo].[Sensor_Formulario] ([idSensor], [idFormulario], [cantidad]) VALUES (1, 3, N'4         ')
INSERT [dbo].[Sensor_Formulario] ([idSensor], [idFormulario], [cantidad]) VALUES (2, 1, N'1         ')
GO
SET IDENTITY_INSERT [dbo].[Tarea] ON 

INSERT [dbo].[Tarea] ([id], [idUsuario], [idAdministrador], [tema], [descripcion], [estado]) VALUES (1, 9, 1, N'prueba', N'este es un mensaje de prueba', N'finalizado')
SET IDENTITY_INSERT [dbo].[Tarea] OFF
GO
INSERT [dbo].[Usuario] ([nombre], [contrasena], [id_usuario]) VALUES (N'Bitacora', N'$2a$10$Qx7ACQI8TZVGjojaN4duw.5O3bdi.EznicuhxRr5BIpMI1BAXsPT.', 0)
INSERT [dbo].[Usuario] ([nombre], [contrasena], [id_usuario]) VALUES (N'lucas', N'$2a$10$IOUXaB61KKvNHIrg6gPoJezNU9q71raCbOTuSDEjOxjhl9Yjs3sBy', 1)
INSERT [dbo].[Usuario] ([nombre], [contrasena], [id_usuario]) VALUES (N'lucasPrueba3', N'$2a$10$WkgXt/xflEpC.czbgtn2.etSyK8fGDIPVzXAB2KjoYsaWQ2IWbVJW', 2)
GO
SET IDENTITY_INSERT [dbo].[Usuario_Auditoria] ON 

INSERT [dbo].[Usuario_Auditoria] ([id_auditoria], [id_usuario], [nombre], [contrasena], [tipo_operacion], [fecha_cambio]) VALUES (1, 11, N'usuario3', N'contrasena1', N'INSERT', CAST(N'2024-10-20T22:51:24.060' AS DateTime))
INSERT [dbo].[Usuario_Auditoria] ([id_auditoria], [id_usuario], [nombre], [contrasena], [tipo_operacion], [fecha_cambio]) VALUES (2, 11, N'usuario3', N'contrasena1', N'UPDATE', CAST(N'2024-10-20T22:51:35.360' AS DateTime))
INSERT [dbo].[Usuario_Auditoria] ([id_auditoria], [id_usuario], [nombre], [contrasena], [tipo_operacion], [fecha_cambio]) VALUES (3, 11, N'usuario3', N'nueva_contrasena', N'UPDATE', CAST(N'2024-10-20T22:51:35.360' AS DateTime))
SET IDENTITY_INSERT [dbo].[Usuario_Auditoria] OFF
GO
SET IDENTITY_INSERT [dbo].[Usuario_Mensaje] ON 

INSERT [dbo].[Usuario_Mensaje] ([id], [id_usuario], [id_componente], [tipo_componente], [mensaje], [fecha]) VALUES (1, 9, 1234, N'sensor', N'humedad: 60%', NULL)
INSERT [dbo].[Usuario_Mensaje] ([id], [id_usuario], [id_componente], [tipo_componente], [mensaje], [fecha]) VALUES (2, 9, 1234, N'sensor', N'humedad: 80%', NULL)
INSERT [dbo].[Usuario_Mensaje] ([id], [id_usuario], [id_componente], [tipo_componente], [mensaje], [fecha]) VALUES (3, 9, 1234, N'sensor', N'humedad: 65%', NULL)
SET IDENTITY_INSERT [dbo].[Usuario_Mensaje] OFF
GO
INSERT [dbo].[usuarios_permisos] ([id_usuario], [id_permiso]) VALUES (1, 1)
INSERT [dbo].[usuarios_permisos] ([id_usuario], [id_permiso]) VALUES (1, 2)
INSERT [dbo].[usuarios_permisos] ([id_usuario], [id_permiso]) VALUES (1, 3)
GO
INSERT [dbo].[VersionContent] ([ContentId], [LanguageId], [Content]) VALUES (1, 1, N'ABM Roles')
INSERT [dbo].[VersionContent] ([ContentId], [LanguageId], [Content]) VALUES (1, 2, N'ABM Roles')
INSERT [dbo].[VersionContent] ([ContentId], [LanguageId], [Content]) VALUES (2, 1, N'Aceptar fecha')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_content_content]    Script Date: 27/10/2024 23:56:04 ******/
ALTER TABLE [dbo].[Content] ADD  CONSTRAINT [UQ_content_content] UNIQUE NONCLUSTERED 
(
	[ContentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_Usuario]    Script Date: 27/10/2024 23:56:04 ******/
ALTER TABLE [dbo].[Usuario] ADD  CONSTRAINT [UQ_Usuario] UNIQUE NONCLUSTERED 
(
	[nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Bitacora] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[BitacoraCambios] ADD  DEFAULT (getdate()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[DispositivoAgua] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Equipo] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Sensor] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[Usuario_Auditoria] ADD  DEFAULT (getdate()) FOR [fecha_cambio]
GO
ALTER TABLE [dbo].[Bitacora]  WITH CHECK ADD  CONSTRAINT [FK_Registro_Usuario] FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Bitacora] CHECK CONSTRAINT [FK_Registro_Usuario]
GO
ALTER TABLE [dbo].[Cliente]  WITH CHECK ADD  CONSTRAINT [FK_usuario_cliente] FOREIGN KEY([id])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Cliente] CHECK CONSTRAINT [FK_usuario_cliente]
GO
ALTER TABLE [dbo].[Cultivo_Formulario]  WITH CHECK ADD  CONSTRAINT [FK_Cultivo_formulario] FOREIGN KEY([idCultivo])
REFERENCES [dbo].[Cultivo] ([id])
GO
ALTER TABLE [dbo].[Cultivo_Formulario] CHECK CONSTRAINT [FK_Cultivo_formulario]
GO
ALTER TABLE [dbo].[Cultivo_Formulario]  WITH CHECK ADD  CONSTRAINT [FK_Cultivo_formulario_formulario] FOREIGN KEY([idFormulario])
REFERENCES [dbo].[Formulario] ([id])
GO
ALTER TABLE [dbo].[Cultivo_Formulario] CHECK CONSTRAINT [FK_Cultivo_formulario_formulario]
GO
ALTER TABLE [dbo].[DispositivoAgua_Formulario]  WITH CHECK ADD  CONSTRAINT [FK_DispositivoAgua_formulario] FOREIGN KEY([idDispositivoAgua])
REFERENCES [dbo].[DispositivoAgua] ([id])
GO
ALTER TABLE [dbo].[DispositivoAgua_Formulario] CHECK CONSTRAINT [FK_DispositivoAgua_formulario]
GO
ALTER TABLE [dbo].[DispositivoAgua_Formulario]  WITH CHECK ADD  CONSTRAINT [FK_DispositivoAgua_formulario_formulario] FOREIGN KEY([idFormulario])
REFERENCES [dbo].[Formulario] ([id])
GO
ALTER TABLE [dbo].[DispositivoAgua_Formulario] CHECK CONSTRAINT [FK_DispositivoAgua_formulario_formulario]
GO
ALTER TABLE [dbo].[Fecha_Instalacion]  WITH CHECK ADD  CONSTRAINT [FK_fecha_formulario] FOREIGN KEY([id_Instalacion])
REFERENCES [dbo].[Formulario] ([id])
GO
ALTER TABLE [dbo].[Fecha_Instalacion] CHECK CONSTRAINT [FK_fecha_formulario]
GO
ALTER TABLE [dbo].[Formulario]  WITH CHECK ADD  CONSTRAINT [FK_cliente_formulario] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([id])
GO
ALTER TABLE [dbo].[Formulario] CHECK CONSTRAINT [FK_cliente_formulario]
GO
ALTER TABLE [dbo].[Materiales]  WITH CHECK ADD  CONSTRAINT [FK_materiales_formulario] FOREIGN KEY([id])
REFERENCES [dbo].[Formulario] ([id])
GO
ALTER TABLE [dbo].[Materiales] CHECK CONSTRAINT [FK_materiales_formulario]
GO
ALTER TABLE [dbo].[Pedido_DispositivoAgua]  WITH CHECK ADD  CONSTRAINT [FK_PedidoDispositivoAgua_DispositivoAgua] FOREIGN KEY([idDispositivoAgua])
REFERENCES [dbo].[DispositivoAgua] ([id])
GO
ALTER TABLE [dbo].[Pedido_DispositivoAgua] CHECK CONSTRAINT [FK_PedidoDispositivoAgua_DispositivoAgua]
GO
ALTER TABLE [dbo].[Pedido_DispositivoAgua]  WITH CHECK ADD  CONSTRAINT [FK_PedidoDispositivoAgua_PedidoCompra] FOREIGN KEY([idPedidoCompra])
REFERENCES [dbo].[PedidoCompra] ([id])
GO
ALTER TABLE [dbo].[Pedido_DispositivoAgua] CHECK CONSTRAINT [FK_PedidoDispositivoAgua_PedidoCompra]
GO
ALTER TABLE [dbo].[Pedido_Equipo]  WITH CHECK ADD  CONSTRAINT [FK_PedidoEquipo_Equipo] FOREIGN KEY([idEquipo])
REFERENCES [dbo].[Equipo] ([id])
GO
ALTER TABLE [dbo].[Pedido_Equipo] CHECK CONSTRAINT [FK_PedidoEquipo_Equipo]
GO
ALTER TABLE [dbo].[Pedido_Equipo]  WITH CHECK ADD  CONSTRAINT [FK_PedidoEquipo_PedidoCompra] FOREIGN KEY([idPedidoCompra])
REFERENCES [dbo].[PedidoCompra] ([id])
GO
ALTER TABLE [dbo].[Pedido_Equipo] CHECK CONSTRAINT [FK_PedidoEquipo_PedidoCompra]
GO
ALTER TABLE [dbo].[Pedido_Sensor]  WITH CHECK ADD  CONSTRAINT [FK_PedidoSensor_PedidoCompra] FOREIGN KEY([idPedidoCompra])
REFERENCES [dbo].[PedidoCompra] ([id])
GO
ALTER TABLE [dbo].[Pedido_Sensor] CHECK CONSTRAINT [FK_PedidoSensor_PedidoCompra]
GO
ALTER TABLE [dbo].[Pedido_Sensor]  WITH CHECK ADD  CONSTRAINT [FK_PedidoSensor_Sensor] FOREIGN KEY([idSensor])
REFERENCES [dbo].[Sensor] ([id])
GO
ALTER TABLE [dbo].[Pedido_Sensor] CHECK CONSTRAINT [FK_PedidoSensor_Sensor]
GO
ALTER TABLE [dbo].[PedidoCreacion]  WITH CHECK ADD  CONSTRAINT [FK_pedidoCreacion_formulario] FOREIGN KEY([idFormulario])
REFERENCES [dbo].[Formulario] ([id])
GO
ALTER TABLE [dbo].[PedidoCreacion] CHECK CONSTRAINT [FK_pedidoCreacion_formulario]
GO
ALTER TABLE [dbo].[permiso_permiso]  WITH CHECK ADD  CONSTRAINT [FK_permiso_permiso_permiso1] FOREIGN KEY([id_permiso_padre])
REFERENCES [dbo].[permiso] ([id])
GO
ALTER TABLE [dbo].[permiso_permiso] CHECK CONSTRAINT [FK_permiso_permiso_permiso1]
GO
ALTER TABLE [dbo].[permiso_permiso]  WITH CHECK ADD  CONSTRAINT [FK_permiso_permiso_permiso2] FOREIGN KEY([id_permiso_hijo])
REFERENCES [dbo].[permiso] ([id])
GO
ALTER TABLE [dbo].[permiso_permiso] CHECK CONSTRAINT [FK_permiso_permiso_permiso2]
GO
ALTER TABLE [dbo].[Sensor_Formulario]  WITH CHECK ADD  CONSTRAINT [FK_sensor_formulario] FOREIGN KEY([idSensor])
REFERENCES [dbo].[Sensor] ([id])
GO
ALTER TABLE [dbo].[Sensor_Formulario] CHECK CONSTRAINT [FK_sensor_formulario]
GO
ALTER TABLE [dbo].[Sensor_Formulario]  WITH CHECK ADD  CONSTRAINT [FK_sensor_formulario_formulario] FOREIGN KEY([idFormulario])
REFERENCES [dbo].[Formulario] ([id])
GO
ALTER TABLE [dbo].[Sensor_Formulario] CHECK CONSTRAINT [FK_sensor_formulario_formulario]
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD FOREIGN KEY([idAdministrador])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Tarea]  WITH CHECK ADD FOREIGN KEY([idUsuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Usuario_Mensaje]  WITH CHECK ADD  CONSTRAINT [FK_Usuario] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[Usuario_Mensaje] CHECK CONSTRAINT [FK_Usuario]
GO
ALTER TABLE [dbo].[usuarios_permisos]  WITH CHECK ADD  CONSTRAINT [FK_usuario_permisos_permiso] FOREIGN KEY([id_usuario])
REFERENCES [dbo].[Usuario] ([id_usuario])
GO
ALTER TABLE [dbo].[usuarios_permisos] CHECK CONSTRAINT [FK_usuario_permisos_permiso]
GO
ALTER TABLE [dbo].[usuarios_permisos]  WITH CHECK ADD  CONSTRAINT [FK_usuario_permisos_usuario] FOREIGN KEY([id_permiso])
REFERENCES [dbo].[permiso] ([id])
GO
ALTER TABLE [dbo].[usuarios_permisos] CHECK CONSTRAINT [FK_usuario_permisos_usuario]
GO
ALTER TABLE [dbo].[VersionContent]  WITH CHECK ADD  CONSTRAINT [FK_Content_ConterVersion] FOREIGN KEY([ContentId])
REFERENCES [dbo].[Content] ([id])
GO
ALTER TABLE [dbo].[VersionContent] CHECK CONSTRAINT [FK_Content_ConterVersion]
GO
/****** Object:  StoredProcedure [dbo].[ActualizarContraseñaYUsuario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[ActualizarContraseñaYUsuario]
    @idPedido INT,
    @contrasena NVARCHAR(MAX),
    @usuario NVARCHAR(MAX)
AS
BEGIN
    -- Actualizar los campos contraseña y usuario del registro con el id proporcionado
    UPDATE dbo.PedidoCreacion
    SET contraseña = @contrasena,
        usuario = @usuario
    WHERE id = @idPedido;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEstadoFabricacion]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarEstadoFabricacion]
    @id INT,
    @estadoFabricacion NVARCHAR(100)
AS
BEGIN
    -- Actualizar el campo estadoFabricacion en la tabla Formulario
    UPDATE dbo.Formulario
    SET estadoFabricacion = @estadoFabricacion
    WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEstadoFechaInstalacion]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarEstadoFechaInstalacion]
    @id_Formulario INT,
    @nuevoEstado NVARCHAR(50)
AS
BEGIN
    -- Actualizar el campo estado en la tabla Fecha_Instalacion
    UPDATE dbo.Fecha_Instalacion
    SET estado = @nuevoEstado
    WHERE id_Formulario = @id_Formulario;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEstadoPago]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarEstadoPago]
    @id INT,
    @estadoPago NVARCHAR(100)
AS
BEGIN
    -- Actualizar el campo estadoPago en la tabla Formulario
    UPDATE dbo.Formulario
    SET estadoPago = @estadoPago
    WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEstadoTarea]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarEstadoTarea]
    @id INT,
    @nuevoEstado NVARCHAR(50),
    @idAdministrador INT
AS
BEGIN
    UPDATE Tarea
    SET 
        estado = @nuevoEstado,
        idAdministrador = @idAdministrador
    WHERE 
        id = @id;
END;
GO
/****** Object:  StoredProcedure [dbo].[ActualizarEstadoYFechaInstalacion]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarEstadoYFechaInstalacion]
    @id_Formulario INT,
    @nuevoEstado NVARCHAR(50),
    @nuevaFecha DATETIME
AS
BEGIN
    -- Actualizar el campo estado y fecha en la tabla Fecha_Instalacion
    UPDATE dbo.Fecha_Instalacion
    SET estado = @nuevoEstado,
        fecha = @nuevaFecha
    WHERE id_Formulario = @id_Formulario;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarFormulario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarFormulario]
    @id INT,
    @descripcionAgua NVARCHAR(MAX) = NULL,
    @descripcionZona NVARCHAR(MAX) = NULL,
    @disponibilidadAgua BIT = NULL,
    @direccion NVARCHAR(MAX) = NULL,
    @distanciaCubrir NVARCHAR(MAX) = NULL,
	@descripcionViabilidad  NVARCHAR(MAX) = NULL,
	@viabilidad  BIT = NULL
AS
BEGIN
    UPDATE Formulario
    SET 
        descripcionAgua = ISNULL(@descripcionAgua, descripcionAgua),
        descripcionZona = ISNULL(@descripcionZona, descripcionZona),
        disponibilidadAgua = ISNULL(@disponibilidadAgua, disponibilidadAgua),
        direccion = ISNULL(@direccion, direccion),
        distanciaCubrir = ISNULL(@distanciaCubrir, distanciaCubrir),
		descripcionViabilidad = ISNULL(@descripcionViabilidad, descripcionViabilidad),
		viabilidad = ISNULL(@viabilidad, viabilidad)
    WHERE id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarIdUsuarioCliente]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[ActualizarIdUsuarioCliente]
    @idCliente INT,
    @idUsuario INT
AS
BEGIN
    -- Actualizar el idUsuario del cliente con el idCliente proporcionado
    UPDATE dbo.Cliente
    SET idUsuario = @idUsuario
    WHERE id = @idCliente;
END
GO
/****** Object:  StoredProcedure [dbo].[ActualizarUsuarioYContrasena]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ActualizarUsuarioYContrasena]
    @id_usuario INT,
    @nuevo_nombre VARCHAR(50),
    @nueva_contrasena NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el usuario existe
    IF EXISTS (SELECT 1 FROM Usuario WHERE id_usuario = @id_usuario)
    BEGIN
        -- Actualizar nombre y contraseña
        UPDATE Usuario
        SET nombre = @nuevo_nombre,
            contrasena = @nueva_contrasena
        WHERE id_usuario = @id_usuario;

        PRINT 'Usuario actualizado correctamente.';
    END
    ELSE
    BEGIN
        -- Manejo de error si el usuario no existe
        RAISERROR('Usuario no encontrado.', 16, 1);
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[ActualizarViabilidadEquipo]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ActualizarViabilidadEquipo]
    @id INT,
    @nuevaDescripcionViabilidadEquipo NVARCHAR(MAX),
    @nuevaViabilidadEquipo BIT
AS
BEGIN
    -- Actualiza la descripción y la viabilidad del equipo para el formulario con el ID dado
    UPDATE dbo.Formulario
    SET 
        descripcionViabilidadEquipo = @nuevaDescripcionViabilidadEquipo,
        viabilidadEquipo = @nuevaViabilidadEquipo
    WHERE 
        id = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarCliente]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarCliente]
    @nombre NVARCHAR(50),
    @apellido NVARCHAR(50),
    @mail NVARCHAR(100),
    @telefono INT,
    @dni INT
AS
BEGIN
    -- Declara una variable para almacenar el nuevo ID
    DECLARE @nuevoId INT;

    -- Encuentra el último ID en la tabla y asigna el siguiente ID
    SELECT @nuevoId = ISNULL(MAX([id]), 0) + 1
    FROM [dbo].[Cliente];

    -- Inserta el nuevo cliente con el ID calculado y idUsuario en NULL
    INSERT INTO [dbo].[Cliente] ([id], [nombre], [apellido], [mail], [telefono], [dni], [idUsuario])
    VALUES (@nuevoId, @nombre, @apellido, @mail, @telefono, @dni, NULL);
END;
GO
/****** Object:  StoredProcedure [dbo].[AgregarCultivo]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarCultivo]
    @descripcion NVARCHAR(MAX),
    @tipo NVARCHAR(100)
AS
BEGIN
    DECLARE @newId INT

    -- Obtener el último id y sumar 1
    SELECT @newId = ISNULL(MAX(id), 0) + 1 FROM Cultivo

    -- Insertar el nuevo cultivo
    INSERT INTO Cultivo (id, descripcion, tipo)
    VALUES (@newId, @descripcion, @tipo)
    
    -- Retornar el nuevo ID si es necesario
    SELECT @newId AS NewId
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarDispositivoAgua]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AgregarDispositivoAgua]
    @descripcion NVARCHAR(MAX) = NULL,
    @nombre NVARCHAR(50) = NULL,
    @precio FLOAT = NULL
AS
BEGIN
    DECLARE @newId INT

    -- Obtener el último id y sumar 1
    SELECT @newId = ISNULL(MAX(id), 0) + 1 FROM dbo.DispositivoAgua

    -- Insertar el nuevo dispositivo de agua
    INSERT INTO dbo.DispositivoAgua (id, descripcion, nombre, precio)
    VALUES (@newId, @descripcion, @nombre, @precio)
    
    -- Retornar el nuevo ID si es necesario
    SELECT @newId AS NewId
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarFechaInstalacion]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarFechaInstalacion]
    @id_Formulario INT,
    @fecha DATETIME,
    @descripcion NVARCHAR(MAX),
    @estado NVARCHAR(50)
AS
BEGIN
    DECLARE @newId INT;

    -- Obtener el último id_Instalacion y sumar 1
    SELECT @newId = ISNULL(MAX(id_Instalacion), 0) + 1 FROM Fecha_Instalacion;

    -- Insertar el nuevo registro en Fecha_Instalacion
    INSERT INTO Fecha_Instalacion (id_Instalacion, id_Formulario, fecha, descripcion, estado)
    VALUES (@newId, @id_Formulario, @fecha, @descripcion, @estado);
    
    -- Retornar el nuevo ID si es necesario
    SELECT @newId AS NewId;
END

GO
/****** Object:  StoredProcedure [dbo].[AgregarFormulario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarFormulario]
AS
BEGIN
    -- Declara variables para almacenar el nuevo ID del formulario y el ID del último cliente
    DECLARE @nuevoId INT;
    DECLARE @ultimoIdCliente INT;

    -- Encuentra el último ID en la tabla Formulario y asigna el siguiente ID
    SELECT @nuevoId = ISNULL(MAX([id]), 0) + 1
    FROM [dbo].[Formulario];

    -- Encuentra el último ID en la tabla Cliente para asignar al idCliente
    SELECT TOP 1 @ultimoIdCliente = [id]
    FROM [dbo].[Cliente]
    ORDER BY [id] DESC;

    -- Inserta el nuevo formulario con el ID calculado y el último ID de cliente
    INSERT INTO [dbo].[Formulario] 
        ([id], [descripcionAgua], [descripcionZona], [disponibilidadAgua], [direccion], 
         [distanciaCubrir], [estadoInstalacion],[estadoFabricacion], [estadoPago], [viabilidad], [idCliente])
    VALUES 
        (@nuevoId, NULL, NULL, NULL, NULL, NULL,NULL, NULL, NULL, NULL, @ultimoIdCliente);
END;

GO
/****** Object:  StoredProcedure [dbo].[AgregarPedidoCreacion]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[AgregarPedidoCreacion]
    @idFormulario INT,
    @estado NVARCHAR(100)
AS
BEGIN
    DECLARE @nuevoId INT

    -- Obtener el último id y sumar 1
    SELECT @nuevoId = ISNULL(MAX(id), 0) + 1 FROM dbo.PedidoCreacion

    -- Insertar el nuevo registro en la tabla PedidoCreacion
    INSERT INTO dbo.PedidoCreacion (id, idFormulario, contraseña, usuario, estado)
    VALUES (@nuevoId, @idFormulario, NULL, NULL, @estado)
    
    -- Retornar el nuevo ID si es necesario
    SELECT @nuevoId AS NuevoId
END
GO
/****** Object:  StoredProcedure [dbo].[AgregarSensor]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AgregarSensor]
    @descripcion NVARCHAR(MAX) = NULL,
    @nombre NVARCHAR(MAX) = NULL,
    @precio FLOAT = NULL
AS
BEGIN
    DECLARE @newId INT

    -- Obtener el último id y sumar 1
    SELECT @newId = ISNULL(MAX(id), 0) + 1 FROM dbo.Sensor

    -- Insertar el nuevo sensor
    INSERT INTO dbo.Sensor (id, descripcion, nombre, precio)
    VALUES (@newId, @descripcion, @nombre, @precio)
    
    -- Retornar el nuevo ID si es necesario
    SELECT @newId AS NewId
END
GO
/****** Object:  StoredProcedure [dbo].[AjustarStockDispositivoAgua]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[AjustarStockDispositivoAgua]
    @Id INT,
    @Cantidad INT,
    @Aumentar BIT  -- 1 para aumentar, 0 para disminuir
AS
BEGIN
    -- Verifica si el ID existe en la tabla
    IF EXISTS (SELECT 1 FROM [RiegoAutonomoInstalador].[dbo].[DispositivoAgua] WHERE [id] = @Id)
    BEGIN
        IF @Aumentar = 1
        BEGIN
            -- Aumenta el stock del dispositivo de agua correspondiente
            UPDATE [RiegoAutonomoInstalador].[dbo].[DispositivoAgua]
            SET [stock] = [stock] + @Cantidad
            WHERE [id] = @Id;
        END
        ELSE IF @Aumentar = 0
        BEGIN
            -- Resta el stock del dispositivo de agua, asegurando que no se vuelva negativo
            UPDATE [RiegoAutonomoInstalador].[dbo].[DispositivoAgua]
            SET [stock] = CASE 
                            WHEN [stock] >= @Cantidad THEN [stock] - @Cantidad 
                            ELSE 0  -- Evitar stock negativo
                          END
            WHERE [id] = @Id;
        END
    END
    ELSE
    BEGIN
        -- Si el ID no existe, puedes lanzar un error o retornar un mensaje
        RAISERROR('El ID del dispositivo de agua no existe.', 16, 1);
    END
END

GO
/****** Object:  StoredProcedure [dbo].[AjustarStockEquipo]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AjustarStockEquipo]
    @Id INT,
    @Cantidad INT,
    @Aumentar BIT  -- 1 para aumentar, 0 para disminuir
AS
BEGIN
    -- Verifica si el ID existe en la tabla
    IF EXISTS (SELECT 1 FROM [RiegoAutonomoInstalador].[dbo].[Equipo] WHERE [id] = @Id)
    BEGIN
        IF @Aumentar = 1
        BEGIN
            -- Aumenta el stock del equipo correspondiente
            UPDATE [RiegoAutonomoInstalador].[dbo].[Equipo]
            SET [stock] = [stock] + @Cantidad
            WHERE [id] = @Id;
        END
        ELSE IF @Aumentar = 0
        BEGIN
            -- Resta el stock del equipo, asegurando que no se vuelva negativo
            UPDATE [RiegoAutonomoInstalador].[dbo].[Equipo]
            SET [stock] = CASE 
                            WHEN [stock] >= @Cantidad THEN [stock] - @Cantidad 
                            ELSE 0  -- Evitar stock negativo
                          END
            WHERE [id] = @Id;
        END
    END
    ELSE
    BEGIN
        -- Si el ID no existe, puedes lanzar un error o retornar un mensaje
        RAISERROR('El ID del equipo no existe.', 16, 1);
    END
END

GO
/****** Object:  StoredProcedure [dbo].[AjustarStockSensor]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AjustarStockSensor]
    @Id INT,
    @Cantidad INT,
    @Aumentar BIT  -- 1 para aumentar, 0 para disminuir
AS
BEGIN
    -- Verifica si el ID existe en la tabla
    IF EXISTS (SELECT 1 FROM [RiegoAutonomoInstalador].[dbo].[Sensor] WHERE [id] = @Id)
    BEGIN
        IF @Aumentar = 1
        BEGIN
            -- Aumenta el stock del sensor correspondiente
            UPDATE [RiegoAutonomoInstalador].[dbo].[Sensor]
            SET [stock] = [stock] + @Cantidad
            WHERE [id] = @Id;
        END
        ELSE IF @Aumentar = 0
        BEGIN
            -- Resta el stock del sensor, asegurando que no se vuelva negativo
            UPDATE [RiegoAutonomoInstalador].[dbo].[Sensor]
            SET [stock] = CASE 
                            WHEN [stock] >= @Cantidad THEN [stock] - @Cantidad 
                            ELSE 0  -- Evitar stock negativo
                          END
            WHERE [id] = @Id;
        END
    END
    ELSE
    BEGIN
        -- Si el ID no existe, puedes lanzar un error o retornar un mensaje
        RAISERROR('El ID del sensor no existe.', 16, 1);
    END
END

GO
/****** Object:  StoredProcedure [dbo].[AsignarCultivoAFormulario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AsignarCultivoAFormulario]
    @idCultivo INT,
    @idFormulario INT,
    @cantidad INT = NULL
AS
BEGIN
    -- Insertar la relación entre cultivo y formulario
    INSERT INTO Cultivo_Formulario (idCultivo, idFormulario, cantidad)
    VALUES (@idCultivo, @idFormulario, @cantidad);
END
GO
/****** Object:  StoredProcedure [dbo].[BackupBD]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BackupBD]
    @RutaBackup NVARCHAR(255)   -- Ruta completa donde se guardará el backup
AS
BEGIN
    DECLARE @ComandoBackup NVARCHAR(MAX)
    
    -- Construimos el comando de backup para la base de datos RiegoAutonomo
    SET @ComandoBackup = 'BACKUP DATABASE [RiegoAutonomoInstalador] TO DISK = ''' + @RutaBackup + ''''
    
    -- Ejecutamos el comando de backup
    EXEC sp_executesql @ComandoBackup
END
GO
/****** Object:  StoredProcedure [dbo].[BuscarUsuario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[BuscarUsuario]
    @nombre NVARCHAR(50)
AS
BEGIN
    SELECT nombre, contrasena, id_usuario
    FROM Usuario
    WHERE nombre = @nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[CambiarContrasenaUsuario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambiarContrasenaUsuario]
    @id int,
    @nuevaContrasena NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el usuario existe
    IF EXISTS (SELECT 1 FROM Usuario WHERE id_usuario = @id)
    BEGIN
        -- Actualizar la contraseña del usuario
        UPDATE Usuario
        SET contrasena = @nuevaContrasena
        WHERE id_usuario = @id;

        SELECT 'Contraseña actualizada correctamente.' AS Mensaje;
    END
    ELSE
    BEGIN
        SELECT 'El usuario especificado no existe.' AS Mensaje;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[CambiarEstadoPedido]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambiarEstadoPedido]
    @Id INT,
    @NuevoEstado NVARCHAR(50)  -- Ajusta el tamaño según sea necesario
AS
BEGIN
    -- Verifica si el ID existe en la tabla
    IF EXISTS (SELECT 1 FROM [RiegoAutonomoInstalador].[dbo].[PedidoCompra] WHERE [id] = @Id)
    BEGIN
        -- Actualiza el estado del pedido correspondiente
        UPDATE [RiegoAutonomoInstalador].[dbo].[PedidoCompra]
        SET [estado] = @NuevoEstado
        WHERE [id] = @Id;
    END
    ELSE
    BEGIN
        -- Si el ID no existe, puedes lanzar un error o retornar un mensaje
        RAISERROR('El ID del pedido no existe.', 16, 1);
    END
END

GO
/****** Object:  StoredProcedure [dbo].[CambiarUsuario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CambiarUsuario]
    @id int,
    @nuevoUsuario NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    -- Verificar si el usuario existe
    IF EXISTS (SELECT 1 FROM Usuario WHERE id_usuario = @id)
    BEGIN
        -- Actualizar la contraseña del usuario
        UPDATE Usuario
        SET nombre = @nuevoUsuario
        WHERE id_usuario = @id;

        SELECT 'usuario actualizada correctamente.' AS Mensaje;
    END
    ELSE
    BEGIN
        SELECT 'El usuario especificado no existe.' AS Mensaje;
    END
END;

GO
/****** Object:  StoredProcedure [dbo].[CrearPedidoCompra]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CrearPedidoCompra]
    @precio FLOAT,               -- Precio total del pedido
    @estado NVARCHAR(50),        -- Estado del pedido
    @nuevoId INT OUTPUT           -- Variable de salida para devolver el ID generado
AS
BEGIN
    -- Insertar un nuevo registro en la tabla PedidoCompra
    INSERT INTO PedidoCompra (precio, estado)
    VALUES (@precio, @estado);

    -- Obtener el ID generado automáticamente por la tabla PedidoCompra
    SET @nuevoId = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[CrearPedidoDispositivoAgua]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearPedidoDispositivoAgua]
    @idPedidoCompra INT,         -- Clave foránea de PedidoCompra
    @idDispositivoAgua INT,      -- Clave foránea de DispositivoAgua
    @cantidad INT,               -- Cantidad del dispositivo de agua en el pedido
    @precio FLOAT,               -- Precio del dispositivo de agua en el pedido
    @nuevoId INT OUTPUT          -- Variable de salida para devolver el ID generado
AS
BEGIN
    -- Insertar un nuevo registro en la tabla Pedido_DispositivoAgua
    INSERT INTO Pedido_DispositivoAgua (idPedidoCompra, idDispositivoAgua, cantidad, precio)
    VALUES (@idPedidoCompra, @idDispositivoAgua, @cantidad, @precio);

    -- Obtener el ID generado automáticamente por la tabla Pedido_DispositivoAgua
    SET @nuevoId = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[CrearPedidoEquipo]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearPedidoEquipo]
    @idPedidoCompra INT,         -- Clave foránea de PedidoCompra
    @idEquipo INT,               -- Clave foránea de Equipo
    @cantidad INT,               -- Cantidad del equipo en el pedido
    @precio FLOAT,               -- Precio del equipo en el pedido
    @nuevoId INT OUTPUT          -- Variable de salida para devolver el ID generado
AS
BEGIN
    -- Insertar un nuevo registro en la tabla Pedido_Equipo
    INSERT INTO Pedido_Equipo (idPedidoCompra, idEquipo, cantidad, precio)
    VALUES (@idPedidoCompra, @idEquipo, @cantidad, @precio);

    -- Obtener el ID generado automáticamente por la tabla Pedido_Equipo
    SET @nuevoId = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[CrearPedidoSensor]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CrearPedidoSensor]
    @idPedidoCompra INT,         -- Clave foránea de PedidoCompra
    @idSensor INT,               -- Clave foránea de Sensor
    @cantidad INT,               -- Cantidad del sensor en el pedido
    @precio FLOAT,               -- Precio del sensor en el pedido
    @nuevoId INT OUTPUT          -- Variable de salida para devolver el ID generado
AS
BEGIN
    -- Insertar un nuevo registro en la tabla Pedido_Sensor
    INSERT INTO Pedido_Sensor (idPedidoCompra, idSensor, cantidad, precio)
    VALUES (@idPedidoCompra, @idSensor, @cantidad, @precio);

    -- Obtener el ID generado automáticamente por la tabla Pedido_Sensor
    SET @nuevoId = SCOPE_IDENTITY();
END;
GO
/****** Object:  StoredProcedure [dbo].[GetAllContent]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

  CREATE PROCEDURE [dbo].[GetAllContent]
AS
BEGIN
    SELECT * FROM Content;
END;
GO
/****** Object:  StoredProcedure [dbo].[GetContentByLanguage]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetContentByLanguage]
    @id INT
AS
BEGIN
    SELECT  c.ContentId, vc.Content
    FROM VersionContent vc
    INNER JOIN Content c ON vc.ContentId = c.id
    WHERE vc.LanguageId = @id;
END;

GO
/****** Object:  StoredProcedure [dbo].[GetLanguages]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetLanguages]
AS
BEGIN
    SELECT LanguageId, LanguageName FROM Languages;
END
GO
/****** Object:  StoredProcedure [dbo].[getLenguajeComponent]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[getLenguajeComponent]
    @id INT
AS
BEGIN
    SELECT ContentId, Content FROM ContentVersion WHERE LanguageId = @id
END;
GO
/****** Object:  StoredProcedure [dbo].[GuardarUsuario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GuardarUsuario]
    @usuario VARCHAR(50),
    @contrasena NVARCHAR(255)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @id INT;

    -- Obtén el último id y suma uno
    SELECT @id = ISNULL(MAX(id_usuario), 0) + 1 FROM [dbo].[Usuario];

    -- Inserta el nuevo usuario
    INSERT INTO [dbo].[Usuario] (id_usuario, nombre, contrasena)
    VALUES (@id, @usuario, @contrasena);

    -- Devuelve el id generado
    SELECT @id AS NuevoID;
END;

GO
/****** Object:  StoredProcedure [dbo].[InsertarBitacora]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarBitacora]
    @idUsuario INT,
    @fecha DATETIME,
    @mensaje NVARCHAR(400)
AS
BEGIN
    DECLARE @id INT;
    DECLARE @digitoVerificador CHAR(1);
    DECLARE @digitoVerificadorVertical NVARCHAR(32);

    -- Insertar el nuevo registro
    INSERT INTO Bitacora (idUsuario, fecha, mensaje)
    VALUES (@idUsuario, @fecha, @mensaje);

    -- Obtener el id del último registro insertado
    SET @id = SCOPE_IDENTITY();

    -- Calcular el dígito verificador horizontal (por registro)
    SET @digitoVerificador = dbo.CalcularDigitoVerificador(@id, @idUsuario, @fecha, @mensaje);

    -- Actualizar el registro con el dígito verificador
    UPDATE Bitacora
    SET digitoVerificador = @digitoVerificador
    WHERE id = @id;

    -- Calcular el dígito verificador vertical para toda la tabla Bitacora
    SET @digitoVerificadorVertical = dbo.fn_CalcularDigitoVerificadorVertical();

    -- Actualizar el valor del dígito verificador vertical en la tabla auxiliar
    UPDATE DigitoVerificadorVertical
    SET digitoVerificador = @digitoVerificadorVertical
    WHERE tabla = 'Bitacora';
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertarNuevoDispositivoAguaFormulario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarNuevoDispositivoAguaFormulario]
    @idDispositivoAgua INT,
    @idFormulario INT,
    @cantidad INT = NULL
AS
BEGIN
    -- Inserta un nuevo registro en la tabla DispositivoAgua_Formulario
    INSERT INTO dbo.DispositivoAgua_Formulario
    (
        idDispositivoAgua,
        idFormulario,
        cantidad
    )
    VALUES
    (
        @idDispositivoAgua,
        @idFormulario,
        @cantidad
    );
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarNuevoMaterial]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarNuevoMaterial]
    @comentario NVARCHAR(MAX) = NULL,
    @cantEquipos INT = NULL,
    @conductoAgua NVARCHAR(50) = NULL,
    @precioConducto FLOAT = NULL,
    @precioEquipo FLOAT = NULL,
    @idFormulario INT
AS
BEGIN
    -- Variable para almacenar el nuevo ID
    DECLARE @nuevoId INT;

    -- Obtener el último ID (máximo) y calcular el nuevo ID
    SELECT @nuevoId = ISNULL(MAX(id), 0) + 1 FROM dbo.Materiales;

    -- Insertar el nuevo registro con el nuevo ID
    INSERT INTO dbo.Materiales
    (
        id,
        comentario,
        cantEquipos,
        conductoAgua,
        precioConducto,
        precioEquipo,
        idFormulario
    )
    VALUES
    (
        @nuevoId,
        @comentario,
        @cantEquipos,
        @conductoAgua,
        @precioConducto,
        @precioEquipo,
        @idFormulario
    );
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarNuevoSensorFormulario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarNuevoSensorFormulario]
    @idSensor INT,
    @idFormulario INT,
    @cantidad NCHAR(10) = NULL
AS
BEGIN
    -- Inserta un nuevo registro en la tabla Sensor_Formulario
    INSERT INTO dbo.Sensor_Formulario
    (
        idSensor,
        idFormulario,
        cantidad
    )
    VALUES
    (
        @idSensor,
        @idFormulario,
        @cantidad
    );
END
GO
/****** Object:  StoredProcedure [dbo].[InsertarTareaSinAdministrador]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarTareaSinAdministrador]
    @idUsuario INT,
    @tema NVARCHAR(100),
    @descripcion NVARCHAR(255) = NULL,
    @estado NVARCHAR(50)
AS
BEGIN
    INSERT INTO Tarea (idUsuario, idAdministrador, tema, descripcion, estado)
    VALUES (@idUsuario, NULL, @tema, @descripcion, @estado);
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertLanguage]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[InsertLanguage]
    @LanguageCode NVARCHAR(50),
    @LanguageName NVARCHAR(100)
AS
BEGIN
    -- Variable to store the max LanguageId
    DECLARE @MaxLanguageId INT;

    -- Get the current maximum LanguageId
    SELECT @MaxLanguageId = ISNULL(MAX(LanguageId), 0) FROM Languages;

    -- Insert the new record with the new LanguageId
    INSERT INTO Languages (LanguageId, LanguageCode, LanguageName)
    VALUES (@MaxLanguageId + 1, @LanguageCode, @LanguageName);
END;
GO
/****** Object:  StoredProcedure [dbo].[InsertVersionContent]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[InsertVersionContent]
    @Items ItemIdiomaNuevoDisplayType READONLY
AS
BEGIN
    DECLARE @LastLanguageId INT;

    -- Obtener el último LanguageId cargado en la tabla Languages
    SELECT @LastLanguageId = MAX(LanguageId) FROM Languages;

    -- Insertar los datos en la tabla VersionContent
    INSERT INTO VersionContent (ContentId, Content, LanguageId)
    SELECT Id, Traduccion, @LastLanguageId
    FROM @Items;
END;
GO
/****** Object:  StoredProcedure [dbo].[ListarRegistrosBitacora]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarRegistrosBitacora]
AS
BEGIN
    SELECT id, idUsuario, fecha, mensaje,
           CASE 
               WHEN digitoVerificador = dbo.CalcularDigitoVerificador(id, idUsuario, fecha, mensaje)
               THEN 'Valido'
               ELSE 'Corrupto'
           END AS Estado
    FROM Bitacora
END
GO
/****** Object:  StoredProcedure [dbo].[ListarUsuariosEliminados]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ListarUsuariosEliminados]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        id_auditoria,
        id_usuario,
        nombre,
        contrasena,
        fecha_cambio
    FROM 
        Usuario_Auditoria
    WHERE 
        tipo_operacion = 'DELETE'
END;

GO
/****** Object:  StoredProcedure [dbo].[MostrarHistorialUsuario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[MostrarHistorialUsuario]
    @id_usuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        id_auditoria,
        id_usuario,
        nombre,
        contrasena,
        tipo_operacion,
        fecha_cambio
    FROM 
        Usuario_Auditoria
    WHERE 
        id_usuario = @id_usuario
END;

GO
/****** Object:  StoredProcedure [dbo].[ObtenerCultivosPorFormulario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerCultivosPorFormulario]
    @idFormulario INT
AS
BEGIN
    -- Selecciona los cultivos y su información asociada para el formulario dado
    SELECT 
        cf.idCultivo,
        cf.cantidad,
        c.descripcion,
        c.tipo
    FROM 
        dbo.Cultivo_Formulario cf
    INNER JOIN 
        dbo.Cultivo c ON cf.idCultivo = c.id
    WHERE 
        cf.idFormulario = @idFormulario;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerDispositivosAguaConDetalles]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerDispositivosAguaConDetalles]
    @idFormulario INT
AS
BEGIN
    -- Seleccionar los dispositivos de agua con su descripción y precio
    SELECT
        da.id AS idDispositivoAgua,
        da.descripcion,
        da.precio,
		daf.cantidad,
		da.nombre
    FROM dbo.DispositivoAgua_Formulario daf
    JOIN dbo.DispositivoAgua da ON daf.idDispositivoAgua = da.id
    WHERE daf.idFormulario = @idFormulario;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerFechasInstalacionPorEstado]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerFechasInstalacionPorEstado]
    @estado NVARCHAR(50)
AS
BEGIN
    -- Seleccionar registros de la tabla Fecha_Instalacion según el estado proporcionado
    SELECT id_Instalacion, id_Formulario, fecha, descripcion, estado
    FROM dbo.Fecha_Instalacion
    WHERE estado = @estado;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerFechasInstalacionPorFormulario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerFechasInstalacionPorFormulario]
    @id_Formulario INT
AS
BEGIN
    -- Seleccionar registros de la tabla Fecha_Instalacion según el id_Formulario
    SELECT id_Instalacion, id_Formulario, fecha, descripcion, estado
    FROM dbo.Fecha_Instalacion
    WHERE id_Formulario = @id_Formulario;

    -- Verificar si no se encontraron registros
    IF @@ROWCOUNT = 0
    BEGIN
        PRINT 'No se encontraron registros para el formulario especificado.';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerFormulario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerFormulario]
    @id INT
AS
BEGIN
    -- Selecciona los datos del formulario con el ID especificado
    SELECT 
        [id], 
        [descripcionAgua], 
        [descripcionZona], 
        [disponibilidadAgua], 
        [direccion], 
        [distanciaCubrir], 
        [estadoFabricacion], 
        [estadoPago], 
        [viabilidad], 
        [idCliente],
		[descripcionViabilidad],
		[viabilidadEquipo],
		[descripcionViabilidadEquipo],
		[estadoInstalacion]
    FROM [dbo].[Formulario]
    WHERE [id] = @id;
END;

exec ObtenerFormulario 1
GO
/****** Object:  StoredProcedure [dbo].[ObtenerMaterialPorID]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerMaterialPorID]
    @id INT
AS
BEGIN
    -- Seleccionar el material según el ID
    SELECT
        id,
        comentario,
        cantEquipos,
        conductoAgua,
        precioConducto,
        precioEquipo,
        idFormulario
    FROM dbo.Materiales
    WHERE  idFormulario = @id;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerProductosPorIdPedido]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerProductosPorIdPedido]
    @idPedido INT
AS
BEGIN
    -- Obtener productos de la tabla Pedido_Sensor
    SELECT 'Sensor' AS TipoProducto, ps.id AS IdProducto, ps.idSensor, ps.cantidad, ps.precio
    FROM Pedido_Sensor ps
    WHERE ps.idPedidoCompra = @idPedido

    UNION ALL

    -- Obtener productos de la tabla Pedido_Equipo
    SELECT 'Equipo' AS TipoProducto, pe.id AS IdProducto, pe.idEquipo, pe.cantidad, pe.precio
    FROM Pedido_Equipo pe
    WHERE pe.idPedidoCompra = @idPedido

    UNION ALL

    -- Obtener productos de la tabla Pedido_DispositivoAgua
    SELECT 'DispositivoAgua' AS TipoProducto, pd.id AS IdProducto, pd.idDispositivoAgua, pd.cantidad, pd.precio
    FROM Pedido_DispositivoAgua pd
    WHERE pd.idPedidoCompra = @idPedido;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerRegistrosPorCliente]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerRegistrosPorCliente]
    @id_usuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Usuario_Mensaje
    WHERE id_usuario = @id_usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerSensoresConDetalles]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerSensoresConDetalles]
    @idFormulario INT
AS
BEGIN
    -- Seleccionar los sensores con su descripción y precio
    SELECT
        sf.idSensor,
        s.descripcion,
        s.precio,
		sf.cantidad,
		s.nombre
    FROM dbo.Sensor_Formulario sf
    JOIN dbo.Sensor s ON sf.idSensor = s.id
    WHERE sf.idFormulario = @idFormulario;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTareasPorUsuario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTareasPorUsuario]
    @idUsuario INT
AS
BEGIN
    SELECT 
        id,
        idUsuario,
        idAdministrador,
        tema,
        descripcion,
        estado
    FROM 
        Tarea
    WHERE 
        idUsuario = @idUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodasLasTareas]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTodasLasTareas]
AS
BEGIN
    SELECT 
        id,
        idUsuario,
        idAdministrador,
        tema,
        descripcion,
        estado
    FROM 
        Tarea;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodoElEquipo]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 CREATE PROCEDURE [dbo].[ObtenerTodoElEquipo]
AS
BEGIN
    SELECT [id], [descripcion], [stock]
    FROM [dbo].[Equipo];
END;

GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosLosCultivos]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTodosLosCultivos]
AS
BEGIN
    SELECT [id], [descripcion], [tipo]
    FROM [dbo].[Cultivo]
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosLosDispositivosAgua]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTodosLosDispositivosAgua]
AS
BEGIN
    -- Selecciona todos los registros de la tabla DispositivosAgua
    SELECT 
        *
    FROM 
        dbo.DispositivoAgua;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosLosFormularios]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTodosLosFormularios]
AS
BEGIN
    -- Selecciona todos los datos de la tabla Formulario
    SELECT 
        [id], 
        [descripcionAgua], 
        [descripcionZona], 
        [disponibilidadAgua], 
        [direccion], 
        [distanciaCubrir], 
        [estadoFabricacion], 
        [estadoPago], 
        [viabilidad], 
        [idCliente],
		[descripcionViabilidad],
		[viabilidadEquipo],
		[descripcionViabilidadEquipo],
		[estadoInstalacion]
    FROM [dbo].[Formulario];
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosLosPedidosCompra]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTodosLosPedidosCompra]
AS
BEGIN
    -- Seleccionar todos los registros de la tabla PedidoCompra
    SELECT *
    FROM PedidoCompra;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosLosPedidosCreacion]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTodosLosPedidosCreacion]
AS
BEGIN
    -- Seleccionar todos los registros de la tabla PedidoCreacion
    SELECT id, idFormulario, contraseña, usuario, estado
    FROM dbo.PedidoCreacion;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosLosSensores]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[ObtenerTodosLosSensores]
AS
BEGIN
    -- Selecciona todos los registros de la tabla Sensores
    SELECT 
        *
    FROM 
        dbo.Sensor;
END
GO
/****** Object:  StoredProcedure [dbo].[ObtenerTodosLosUsuarios]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerTodosLosUsuarios]
AS
BEGIN
    -- Selecciona todos los registros de la tabla usuario
    SELECT id_usuario, contrasena, nombre
    FROM usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[ObtenerUltimoFormulario]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ObtenerUltimoFormulario]
AS
BEGIN
    -- Selecciona los datos del formulario con el ID más alto
    SELECT TOP 1
        [id], 
        [descripcionAgua], 
        [descripcionZona], 
        [disponibilidadAgua], 
        [direccion], 
        [distanciaCubrir], 
        [estadoFabricacion], 
        [estadoPago], 
        [viabilidad], 
        [idCliente],
		[estadoInstalacion]
    FROM [dbo].[Formulario]
    ORDER BY [id] DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[VerificarIntegridadTabla]    Script Date: 27/10/2024 23:56:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VerificarIntegridadTabla]
AS
BEGIN
    DECLARE @digitoVerificadorAlmacenado NVARCHAR(32);
    DECLARE @digitoVerificadorCalculado NVARCHAR(32);

    -- Obtener el dígito verificador almacenado
    SELECT @digitoVerificadorAlmacenado = digitoVerificador
    FROM DigitoVerificadorVertical
    WHERE tabla = 'Bitacora';

    -- Calcular el dígito verificador actual
    SET @digitoVerificadorCalculado = dbo.fn_CalcularDigitoVerificadorVertical();

    -- Comparar ambos valores
    IF @digitoVerificadorAlmacenado = @digitoVerificadorCalculado
    BEGIN
        SELECT 'La tabla no ha sido alterada.' AS Mensaje;
    END
    ELSE
    BEGIN
        SELECT 'La tabla ha sido alterada o se ha eliminado un registro.' AS Mensaje;
    END
END
GO
USE [master]
GO
